<div class="row">
      <div class="col-sm-12 ">
        <div class="alert alert-success">
            <strong>{{benevoles.length}} bénévoles inscrits (enfants compris) / 
            {{benevolesWithoutChoice.length}} bénévoles n'ont rien choisi / 
            {{benevolesToChange.length}} bénévoles à replacer</strong>
        </div>
      </div>
    </div>
<div class="row">

      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-primary" routerLink="/gestionbenevoles">Gestion des
                  Bénévoles</button>
      </div>
      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-primary" routerLink="/gestionstands">Gestion des
                  Stands</button>
      </div>
      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-primary" routerLink="/gestionmajstands">Maj des
                  Stands</button>
      </div>
      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-primary" routerLink="/gestionmajcreneaux">Maj des
                  Creneaux</button>
      </div>
      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-primary" routerLink="/gestionmajconfig">Maj des
                  Infos</button>
      </div>
      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-success" [ngClass]="{'btn-danger':bloque == 'true'}"
                  (click)="updateBlocage(bloque)">{{bloque == 'true'?'Je clique pour débloquer le site':'Je clique pour bloquer le site'}}</button>
      </div>






      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-primary" (click)="exportAsXLSX()">Télécharger</button>
      </div>

</div>